# environment
.env*
keys.json

# audios
**.wav
**.ogg
**.mp3

# chroma
**.bin
chroma.sqlite3
chroma_db/chroma.sqlite3

# dirs
.pytest_cache/
minio-storage/
postgres-data/
test-postgres-data/

.venv/
venv/
.idea/
**/__pycache__

# conf
celerybeat-schedule
**.conf
docker-compose.yml
google_credentials.json