# environment
.env*
keys.json

# audios
**.wav
**.ogg
**.mp3

# chroma
chroma_db/chroma.sqlite3
**.bin
chroma.sqlite3

# dirs
postgres-data/
venv/
.idea/
**/__pycache__
minio-storage/
test-postgres-data/

# conf
nginx-prod.conf
key
key.pub
docker-compose.yml