fastapi[all]
sqlalchemy==2.0.29
psycopg2-binary==2.9.9
alembic==1.13.1
gunicorn==22.0.0
asyncpg==0.29.0
fastapi-users[sqlalchemy]
celery==5.4.0
SpeechRecognition==3.10.3
pymorphy3==2.0.1
langdetect==1.0.9
Redis==5.0.3
minio==7.2.5
gTTS==2.5.1
deep-translator==1.11.4
chromadb==0.5.0
pydub==0.25.1
numpy==1.26.4
sentry-sdk[fastapi]
yt-dlp==2024.7.9
nltk==3.8.1
ffmpeg-python==0.2.0
